/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Estilos específicos del layout */
header nav a {
  font-weight: 500;
}

.footer {
  position: static;   /* quita el absolute para que no choque */
  width: 100%;
  line-height: normal;
}
