@page
@model StayGo.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Hero {
    <h3 class="mb-3">Inicia sesión con Homely</h3>
}

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe"></label>
                </div>

                <button id="login-submit" type="submit" class="btn btn-sage">Entrar</button>
                <input type="hidden" asp-for="ReturnUrl" />
            </form>
        </section>

        <hr class="my-4" />

        <!-- Botones de proveedores externos (usa Model.ExternalLogins) -->
        <section>
            <h5 class="mb-3">O inicia sesión con</h5>
            @await Html.PartialAsync("_ExternalLoginsPartial", Model.ExternalLogins)
        </section>
        <p class="mt-2">
            <a asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
        </p>
    </div>

    <div class="col-md-6">
        <section class="ms-md-4">
            <h5>¿No tienes cuenta?</h5>
            <p>Puedes registrarte para reservar, pagar y dejar reseñas.</p>
            <a class="btn btn-outline-sage" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                Crear cuenta
            </a>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
